<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.allvideo.hdplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.allvideo.hdplayer.AdsIntegration.MyApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Player"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <activity
            android:name="com.allvideo.hdplayer.Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.allvideo.hdplayer.Activities.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.allvideo.hdplayer.Activities.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.allvideo.hdplayer.Activities.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.allvideo.hdplayer.Activities.MyPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.allvideo.hdplayer.Activities.VideoFolderActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="205171184" />
        <meta-data
            android:name="com.startapp.sdk.RETURN_ADS_ENABLED"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
    </application>
</manifest>